@model IEnumerable<TemperatureMonitoring.Models.CInputTemperature>

@{
    ViewBag.Title = "SaveData";
}

<h2>SaveData</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeftDevice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RightDevice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeInput)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserInput)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeftDevice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RightDevice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeInput)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserInput)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
